<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportManager" />
    </listeners>

    <test thread-count="5" name="Test">
        <!-- Removed browser parameter -->
        <classes>
            <class name="testCases.TC_002_LoginTest"/>
            <class name="testCases.TC_005_RemoveItemsTest"/>
            <class name="testCases.TC_006_verifyAppleCinemaFeatureTest"/>
            <class name="testCases.TC_001_AccountRegistrationTest"/>
            <class name="testCases.TC_004_AddToCartTest"/>
            <class name="testCases.TC_003_LoginDataDrivenTest"/>
        </classes>
    </test>

</suite>
